* {
	font-family: "Lato", sans-serif;
}

table {
	width: 100%;
	clear: both;
	width: 100%;
	font-size: 16px;
	color: #2e2e2e;
	padding: 5px;
	margin-top: 10px;
}

table td {
	padding: 10px;
}

table th {
	float: left;
	position: relative;
	top: 10px;
}

.ultimo {
	border: none;
}

.container-c {
	margin: 0 auto;
	max-width: 800px;
}